body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* اللون الافتراضي */
    transition: background-color 0.3s ease-in-out;
}

header {
    background-color: #0078d4;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

#search-container {
    margin-right: 20px;
}

#search {
    border-radius: 50px;
    padding: 8px;
    width: 200px;
    border: 2px solid #fff;
}

#cart {
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.slider-section {
    margin-top: 20px;
    text-align: center;
}

.sliderContainer {
    margin: 0 auto;
}

.sliderContainer input {
    border-radius: 8px;
    height: 7px;
    border: none;
    background-color: transparent;
}

.sliderContainer input::-webkit-slider-thumb {
    color: #458dff;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    background-color: #458dff;
    overflow: visible;
    cursor: pointer;
}

/* إضافة تنسيق قسم الألعاب */
.games-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.game {
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.game img {
    width: 100%;
    border-radius: 8px;
}

.game button {
    background-color: #0078d4;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 10px;
}

.game button:hover {
    background-color: #005bb5;
}